{% extends "base.html.twig" %}

{% block body %}

    <h1>Bienvenue dans ce blog !</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ornare magna, commodo varius tortor. Curabitur condimentum lorem placerat, facilisis massa eget, malesuada nisi. Fusce tincidunt at neque non malesuada. Donec sagittis consequat gravida. Fusce semper sagittis diam, id varius urna pharetra sed. Nam pharetra iaculis eros et lobortis. Proin dictum id dui sit amet ullamcorper. Etiam vulputate iaculis lorem aliquet convallis. Cras at lobortis lacus, ac convallis nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ac sapien faucibus, iaculis purus vel, scelerisque tortor. Morbi sem nisi, efficitur eget condimentum eu, blandit vel libero. Duis eu tempor justo. Fusce interdum vestibulum orci, in mollis orci semper ut</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed ornare magna, commodo varius tortor. Curabitur condimentum lorem placerat, facilisis massa eget, malesuada nisi. Fusce tincidunt at neque non malesuada. Donec sagittis consequat gravida. Fusce semper sagittis diam, id varius urna pharetra sed. Nam pharetra iaculis eros et lobortis. Proin dictum id dui sit amet ullamcorper. Etiam vulputate iaculis lorem aliquet convallis. Cras at lobortis lacus, ac convallis nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ac sapien faucibus, iaculis purus vel, scelerisque tortor. Morbi sem nisi, efficitur eget condimentum eu, blandit vel libero. Duis eu tempor justo. Fusce interdum vestibulum orci, in mollis orci semper ut</p>
{% endblock %}